* {margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.bcg-color-gray {
  background-color: rgb(245, 241, 241);
  padding: 10px 0 10px 5px;
  margin-bottom: 7px;
}


body {
  line-height: 1.6;
  font-family: Arial, Helvetica, sans-serif;

  h1 {
    font-size: 23px;
    color: rgb(52, 97, 134);
    margin: 25px auto 20px 25px;
  }

  #calculator-container {
    width: 400px;
    border: 2px solid #9f9f9f8e;
    border-radius: 5px;
    margin-left: 25px;

    #taxRateForm label:first-of-type {
      margin-right: 15px;
    }

    #inputSumForm {

      div:first-of-type input {
        width: 150px;
        padding: 4px 7px;
      }

      #btn-container #btn {
        display: block;
        width: 95%;
        padding: 5px 0 5px 0;
        margin: 15px auto;
        background-color: steelblue;
        color: #fff;
        border: 0;
        border-radius: 5px;
      }
    }
  }

  h3 {
    color: rgb(72, 138, 192);
    font-size: 16px;
    border-top: 3px solid #9f9f9f8e;
    padding: 10px 0 10px 5px;
  }

  .result-container p:nth-child(2) {
    color: rgb(52, 97, 134);
    font-size: 18px;
    font-weight: bold;
  }
}



